@import "renderer/sass/palettes";

.main-nav {
    &__container {
        display: flex;
        align-items: center;
    }

    &__menu {
        display: flex;
        list-style: none;
        gap: 1rem;

        &-item {
            font-size: 1.2rem;

            .sq-link.MuiLink-root {
                text-decoration: none;
                color: rgb(0, 0, 22);

                &:hover {
                    color: map-get($couleurs-secondaires, SqOrange);
                }
            }
        }
    }
}